/*DFLBook.com CSS*/
.body{
	padding-top:0px;
	min-height:100%;
}
.headhigh{
	background-color:#71AC41;
}
.Numem{
	padding:5px;
	margin:0px;
}
.Numem li{
	list-style:none;
	display:inline;
	padding-right:2em;
}
.Numem li a{
	text-decoration:none;
	color:#FFFFFF;
}

.social .navbar-nav{float:right}
.social .navbar-nav li a{line-height:0px;
	padding-bottom:0px;
	padding-top:0px;
	padding:10px;
	color:#FFFFFF;
}
.social .navbar-nav li:hover a .fa-facebook{
	background-color:#F8F8F8;
	color:#4D86C5;
}
.social .navbar-nav li:hover a .fa-twitter{
	background-color:#F8F8F8;
	color:#11DBFF;
}
.social .navbar-nav li:hover a .fa-linkedin{
	background-color:#F8F8F8;
	color:#E62E04;
}
.social .navbar-nav li:hover a .fa-google-plus{
	background-color:#F8F8F8;
	color:#E62E04;
}

#navbar .navbar-nav{
	padding-top:6px;
}
#navbar .navbar-nav li:hover{
background-color:#71AC41 !important;	
}
#navbar .navbar-nav li:hover a{
color:#fff !important;	
}





/*
.sponsor{padding:0px;
	margin:0px;
}

.sponsor li{
	list-style:none;
	float:left;
	display:inline;
}
.sponsor li a{
	text-decoration:none;
}
.sponsor li a img{
	width:60%;
}
*/
#cat{
	background:#71AC41;
	padding:20px;
}
#cat h3{color:#ffffff;}
#cat ul{
	padding:0px;
	margin:0px;
}
#cat ul li{
	list-style:none;
	border:1px solid #E7E7E7;
	margin:5px;
	padding:5px;
	transition:0.6s;
}
#cat ul li:hover{
	background:#fff;
}
#cat ul li:hover a{
	color:black;
}
#cat ul li a{
	text-decoration:none; 
	color:#fff;
	
}

.category{
	margin-top:10px;
}

.category .content a{text-decoration:none;}
.category .content a:hover .box{
	border:1px solid red;
	margin-top:-10px;
}
.category .content .box{
	padding:5px;
	border:1px solid #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-bottom:26px;
  transition:0.3s;
 
}
.category .content .box img{
	width:100%;
}
.category .content .box h4{text-align:center;}


.category .right img{padding-top:10px;}

#con .subm{
	margin-top:20px;
}
#con .tab-content{
	background:#EAEBEF;
	padding:10px;
	min-height:200px;
}
#con .tab-content a{
	padding:0px;
	margin:0px;
}
#con .tab-content a:hover .box{
	border:1px solid red;
	margin-top:-10px;
}
#con .tab-content .box{
	padding:5px;
	border:1px solid #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-bottom:26px;
  transition:0.3s;
 
}
#con .tab-content .tab-pane a{
	text-decoration:none;
	color:green;
}
#con .tab-content .tab-pane a .col-md-2{
	padding-top:20px;
	padding-bottom:20px;
}
#con .tab-content .tab-pane .row{
	background:#FFFFFF;
	padding:10px;
}
#bel .container{
	background:#EAEBEF;
	margin-bottom:20px;
}
#bel .one{
	background:#fff;
}
#bel .one .news{
	padding:0px;
	margin:0px;
}
#bel .one .news li{
	list-style:none;
	padding:5px;
}
#bel .one .news li a{
	text-decoration:none;
	color:black;
}
#bel .one .news li a:hover{
	color:#71AC41;
}

#bel .two{
	background:#fff;
}
#bel .two ul{
	padding:0px;
	margin:0px;
}
#bel .two ul li{
	list-style:none;
	display:inline;
	padding:6px;
}
#bel .two ul li a img{
	width:200px;
	height:auto;
}
#bel .three{
	padding:10px;
}


#footer{
	background:#4D4D4F;
}

.footer-bottom{
	background:#D6D6D0;
	padding:5px;
}
.companyinfo h2{
	color: #B4B1AB;
  font-family: 'Abel', sans-serif;
  font-size: 27px;
  text-transform: uppercase;
}
.cardinfo h3{
	color: #B4B1AB;
  font-family: 'Abel', sans-serif;
}
.single-widget h2{
	color: #fff;
  font-family: 'Abel', sans-serif;
  transform:uppercase;
}
.single-widget ul{
	padding:0px;
	margin:0px;
}
.single-widget ul li{
	list-style:none;
	padding:10px;
}
.single-widget ul li a{
	text-decoration:none;
	color:#B4B1AB;
	transition:0.5s;
}

.single-widget ul li:hover a{
	color:#F75243;
}
.footer-widget{padding:20px;}

.single-widget p{
	color:#B4B1AB;
}

.navbar-default .navbar-header{
	height:62px;
	margin-top:0px;
	padding-top:0px;
	}
.navbar-default .navbar-header .navbar-brand{
	margin-top:0px;
	padding-top:5px;
}

.navbar-fixed-top .navbar-header .navbar-brand{
	margin-top:0px;
	padding-top:5px;
}

#carousel-example-generic .carousel-caption h2{
	background:black;
	padding:2px;
	border-radius:5px;
}


/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 120px;
  margin-top: 20px;
  overflow: hidden;
}

.login-form {

}

.signup-form {

}

.login-form h2, .signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button, .signup-form form button {
  background: #F75243;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.login-form label{

}


.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


.or{
	background: #F75243;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}

